{:deps {org.clojure/clojure {:mvn/version "1.10.0"}

        org.clojure/core.match {:mvn/version "0.3.0-alpha5"}
        org.clojure/algo.monads {:mvn/version "0.1.6"}
        org.clojure/test.check {:mvn/version "0.10.0-alpha3"}
        com.gfredericks/test.chuck {:mvn/version "0.2.9"}
        instaparse {:mvn/version "1.4.8"}

        ubergraph {:mvn/version "0.5.2"}
        org.clojure/core.logic {:mvn/version "0.8.11"}

        better-cond {:mvn/version "2.0.2"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
   :main-opts ["-m" "cognitect.test-runner"]}}}
